.home {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}

.home-text {
    margin: 80px;
    text-align: center;
    place-self: center;
    font-size: 60px;
    width: 80%;

    span {
        color: white;
        background-color: #52D766;
        padding: 0 10px;
        border-radius: 25px;
    }
}