.allies {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52D766;
  text-align: center;

  h3 {
    font-size: 60px;
  }

  p {
    width: 55%;
    font-size: 25px;
    color: white;
  }
}
