.footer-container {
  background-color: black;
  padding: 2rem 0 2rem 0;
  p {
    color: white;
  }
}

.footer-textarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: 100px;
  margin: 0 100px;

  section {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
  
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    a {
      margin-right: 20px;
      color: rgb(211, 208, 208);
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
  
      }
    }
  }
}
